
VITE_API_BASE_URL=http://localhost:8001
VITE_MAIN_SITE_URL=http://localhost:5173
VITE_CHAT_GLOBAL_ENABLED=false
VITE_CHAT_ROOM_CODE=global
VITE_WHEEL_EVENT_ENABLED=false

VITE_ALLOWED_HOSTS=http://localhost:8001
DEV=true
